<div class="container my-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center h2">info</h1>
            <ul class="list-group">
                <li class="list-group-item">Argumentos de entrada: {{argumentos}}</li>
                <li class="list-group-item">Path de ejecucion: {{path}}</li>
                <li class="list-group-item">Nombre de la Plataforma: {{sistemaOperativo}}</li>
                 <li class="list-group-item">Process id: {{processId}}</li>
                <li class="list-group-item">Version de node.js: {{versionNode}}</li>
                 <li class="list-group-item">Carpeta del proyecto: {{carpeta}}</li>
                <li class="list-group-item">Memoria Total Reservada: {{memoriaTotalReservada}}</li>
                 <li class="list-group-item">Numero de Procesadores: {{numeroProcesadores}}</li>
            </ul>

        </div>
    </div>
</div>