<p><strong>Datos del nuevo registro:</strong></p>
<p><strong>Nombre de Usuario:</strong>{{data.username}}</p>
<p><strong>Nombre:</strong>{{data.nombre}}</p>
<p><strong>Dirección:</strong>{{data.direccion}}</p>
<p><strong>Teléfono:</strong>{{data.telefono}}</p>
<p><strong>Edad:</strong>{{data.edad}}</p>